@model List<User>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <ul class="col-sm-12 navbar-nav">
                <li class=" col-sm-2 nav-item">
                    <a class="nav-link" href="#">TestApp</a>
                </li>
                <li class="col-sm-8 nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="col-sm-2 nav-item">
                    <a class="nav-link" href="">Logoff</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="col-3 bg-light m-2">
                            <table class="table table-hover table -sm">
                                <thead class ="thead-light">
                                    <tr>
                                        <th scope ="col">ID</th>
                                        <th scope ="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Created_at</th>
                                        <th scope="col">user_level</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(User user in @Model)
                                    {
                                        <tr>
                                            <td><a href="@">@user.UserId</a></td>
                                            <td>@user.FullName</td>
                                            <td>@user.Email</td>
                                            <td>@user.CreatedAt</td>
                                            <td>@user.user_level</td>
                                        </tr>
                                    }
                                </body>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>